{% load staticfiles %}

<html>
<head>
	{% block cabecalho %}
	<title>Crud</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/crud.css" %}">
    {% endblock %}
</head>
<body>
	 {% block corpo %}
	 {% endblock %}
</body>
</html>